<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="DEBUG_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/springboot-demo.log</file>
        <rollingPolicy class="andy.demo.springboot.log.MySizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/springboot-demo.%d{yyyyMMdd_HHmmss}.%i.log</fileNamePattern>
            <MaxFileSize>1MB</MaxFileSize>
        </rollingPolicy>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_LOG_FILE"/>
    </root>
    <logger name="andy.demo.springboot" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_LOG_FILE"/>
    </logger>
</configuration>